[submodule "submodules/Telegram-iOS"]
 path = submodules/Telegram-iOS
 url = https://github.com/TelegramMessenger/Telegram-iOS.git

[submodule "submodules/TgVoipWebrtc/tgcalls"]
 path = submodules/TgVoipWebrtc/tgcalls
 url = https://github.com/TelegramMessenger/tgcalls.git

[submodule "submodules/rlottie/rlottie"]
 path = submodules/rlottie/rlottie
 url = https://github.com/Samsung/rlottie.git

[submodule "submodules/AppCenter-SDK-Apple"]
 path = submodules/AppCenter-SDK-Apple
 url = https://github.com/microsoft/appcenter-sdk-apple.git

[submodule "submodules/Chart/PGCharts"]
 path = submodules/Chart/PGCharts
 url = https://github.com/all-comm-stf/PGCharts.git

[submodule "submodules/ffmpeg"]
 path = submodules/ffmpeg
 url = https://github.com/TelegramMessenger/ffmpeg.git

[submodule "submodules/opus"]
 path = submodules/opus
 url = https://github.com/TelegramMessenger/opus.git

[submodule "submodules/openal-soft"]
 path = submodules/openal-soft
 url = https://github.com/TelegramMessenger/openal-soft.git

[submodule "submodules/libvpx"]
 path = submodules/libvpx
 url = https://github.com/TelegramMessenger/libvpx.git
