[submodule "submodules/rlottie/rlottie"]
    path = submodules/rlottie/rlottie
    url = https://github.com/TelegramMessenger/rlottie.git
[submodule "build-system/bazel-rules/rules_apple"]
    path = build-system/bazel-rules/rules_apple
    url = https://github.com/bazelbuild/rules_apple.git
[submodule "build-system/bazel-rules/rules_swift"]
    path = build-system/bazel-rules/rules_swift
    url = https://github.com/bazelbuild/rules_swift.git
[submodule "build-system/bazel-rules/apple_support"]
    path = build-system/bazel-rules/apple_support
    url = https://github.com/bazelbuild/apple_support.git
[submodule "submodules/TgVoipWebrtc/tgcalls"]
    path = submodules/TgVoipWebrtc/tgcalls
    url = https://github.com/TelegramMessenger/tgcalls.git
[submodule "third-party/webrtc/webrtc"]
    path = third-party/webrtc/webrtc
    url = https://github.com/TelegramMessenger/webrtc.git
[submodule "third-party/td/td"]
    path = third-party/td/td
    url = https://github.com/tdlib/td.git
